.content {
	margin: auto;
	width: 50%;
	padding: 10px;
}

@media screen and (max-width:900px) {
	.content {
		margin: auto;
		width: 90%;
		padding: 10px;
	}
}

body {
	font-family: monospace;
	font-size: 14pt;
}

code {
	background-color: lightgrey;
}

.image {
	width: 100%;
}

.link {
	color: black;
	background-color: white;
}

.link:hover {
	color: white;
	background-color: black;
}
